@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
    outline: none;
}

:root{
    --c-main: #6495ed;
    --c-background: #dae0e6;
}

body{
    background:  var(--c-background);
}

/* ----- header ----- */

header{
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

header h1{
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 10px;
}
header span{
    color: var(--c-main);
    font-size: 25px;
    font-weight: 400;
}
ul{
    list-style: none;
    display: flex;
    gap: 50px;
}
ul li a{
    text-decoration: none;
    color: black;
    padding: 10px 0;
    font-weight: 500;
}
ul li a:hover{
    color: var(--c-main);
    border-bottom: 2px solid var(--c-main);
}
ul li a.active{
    color: var(--c-main);
    border-bottom: 2px solid var(--c-main);
}