<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>srcots</title>
    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/index.css">
    {{#if login}}
        <link rel="stylesheet" href="/style/login.css">
    {{/if}}
</head>
<body>
    {{>header}}
    {{{body}}}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {{#if loginJS}}
        <script src="js/login.js"></script>
    {{/if}}
</body>
</html>